* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    background-color: rgb(31, 31, 31);
    color: #fff;   
    font-family: 'Inter', system-ui, sans-serif;
}

.card {
    width: 90%;
    max-width: 380px;
    margin: 4rem auto;
    display: flex;
    padding: 1.9rem 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    background: linear-gradient(90deg, rgba(222, 222, 222, 1) 0%, rgba(94, 186, 204, 1) 72%);

}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

.search input {
    outline: 0;
    border: 0;
    padding: 9px 12px;
    border-radius: 10px;
    border: none;
    width: 100%;
}
.weather-update{
    margin-top: 20px;
    text-align: center;
}
.weather-update img{
    width: 70px;
}


.search button {
    border: 0;
    outline: 0;
    background-color: white;
    border-radius: 50px;
    width: 50px;
    cursor: pointer;
    padding: 0.6rem;
    color: black;
    font-size: 1rem;
}
.search button:hover{
    background-color: rgb(64, 112, 128);
    color: white;
    transition: 0.2s ease;
}
.temp{
    margin-top: 20px;
    font-size: 3rem;
    text-align: center;

}
.city{
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 3rem;
}

.humidity, .wind{
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
.weather-update{
    display: none;
}
.error{
    font-size: 1rem;
    text-align: center;
    color: rgb(108, 6, 6);
    font-weight: 600;
    display: none;
}
@media (max-width:700px) {
    .card{
        max-width: 300px;
        width: 80%;
        padding: 1rem 0;
    }
   
    .temp{
        font-size: 2rem;
    }
    .city{
        font-size: 1.5rem;
    }
    .humidity, .wind{
        font-size: 1.2rem;
    }
    .search input{
        width: 70%;
    }
    .search button{
        width: 20%;
    }
    .col img{
        width: 40px;
    }
}
